<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to the Car-Dealership of the Century!</h1>

    <a href ='/cars/new'>List your car!</a>
    <a href='/cars'>See all car listings!</a>
  </body>
</html>